<div class="registar-livro">
    <ion-title class="titulo-modal">Registar Livro</ion-title>

    <div class="capa-area ion-text-center">
        <div class="capa-preview">
            @if (imagemCapa) {
            <img [src]="imagemCapa" alt="Capa fotografada" />
            } @else {
            <ion-icon name="image-outline" aria-hidden="true"></ion-icon>
            }
        </div>
        <ion-button class="botao-roxo botao-foto" (click)="tirarFoto()">
            <ion-icon slot="start" name="camera"></ion-icon>
            Fotografar Capa
        </ion-button>
    </div>

    <div class="input-group">
        <ion-label>Título</ion-label>
        <ion-input class="text-input" [(ngModel)]="tituloInput" type="text" fill="outline"
            placeholder="Título do livro"></ion-input>
    </div>

    <div class="input-group ion-margin-top">
        <ion-label>Autor</ion-label>
        <ion-input class="text-input" [(ngModel)]="autorInput" type="text" fill="outline"
            placeholder="Autor do livro"></ion-input>
    </div>

    <div class="input-group ion-margin-top">
        <ion-label>Géneros Literários</ion-label>
        <ion-select class="text-input" [(ngModel)]="generosInput" multiple="true" fill="outline"
            placeholder="Selecione os Géneros" cancelText="Cancelar" okText="Confirmar" interface="popover">
            @for (genero of generos; track genero) {
            <ion-select-option [value]="genero">{{ genero }}</ion-select-option>
            }
        </ion-select>
    </div>

    <ion-row class="acoes ion-margin-top">
        <ion-col>
            <ion-button class="botao-roxo" expand="block" [disabled]="!formularioCompleto"
                (click)="registarLivro()">
                Registar
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button class="botao-vermelho" expand="block" (click)="cancelar()">
                Cancelar
            </ion-button>
        </ion-col>
    </ion-row>
</div>
