.amigo-avatar {
    margin: 10px auto;
    width: 75px;
    height: 75px;
    font-size: 32px;
}

.dados-leitura {
    border-block: 1px solid var(--ion-color-tertiary);
    padding-block: 10px;
    text-align: center;
    display: flex;
    color: var(--ion-color-secondary);
}

.dados-leitura ion-icon {
    font-size: 24px;
}