<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-title>
            <ion-icon name="person-circle"></ion-icon>
            O Meu Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="ion-text-center" style="margin-top: 20px; margin-bottom: 30px;">
    <ion-icon name="person-circle-outline" style="font-size: 100px; color: #8c5a47;"></ion-icon>
    <h2 style="font-weight: bold; color: #333; margin-bottom: 0;">{{ nomeUtilizador || 'A carregar...' }}</h2>
  </div>

  @if (dadosLeitura) {
    <ion-grid class="dados-leitura">
        <ion-row>
            <ion-col text-center>
                <ion-icon name="library"></ion-icon>
                <div> {{ dadosLeitura.livrosPossuidos }} livro(s) possuídos </div>
            </ion-col>
            <ion-col text-center>
                <ion-icon name="receipt"></ion-icon>
                <div> {{ dadosLeitura.livrosEmprestados }} livro(s) emprestados </div>
            </ion-col>
            <ion-col text-center>
                <ion-icon name="heart"></ion-icon>
                <div> {{ dadosLeitura.livrosDesejados }} na lista de desejos </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    } @else {
    <div class="dados-leitura">
        <p>Erro ao carregar dados de leitura.</p>
    </div>
    }

  <div style="margin-top: 50px;">
    <ion-button expand="block" class="botao-vermelho" (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Logout
    </ion-button>
  </div>

</ion-content>
