<ion-tabs>
  <ion-tab-bar slot="bottom" style="--background: #8c5a47; border: none; height: 65px;">
    
    <ion-tab-button tab="pesquisa" style="--color: #c9b1a9; --color-selected: #ffffff; background: transparent;">
      <ion-icon name="compass" style="font-size: 30px;"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="amigos" style="--color: #c9b1a9; --color-selected: #ffffff; background: transparent;">
      <ion-icon name="people" style="font-size: 30px;"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="biblioteca" style="--color: #c9b1a9; --color-selected: #ffffff; background: transparent;">
      <ion-icon name="library" style="font-size: 30px;"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="emprestimos" style="--color: #c9b1a9; --color-selected: #ffffff; background: transparent;">
      <ion-icon name="receipt" style="font-size: 30px;"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="perfil" style="--color: #c9b1a9; --color-selected: #ffffff; background: transparent;">
      <ion-icon name="person-circle" style="font-size: 30px;"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
