<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-title>
            Criar Conta
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div class="input-group section">
        <ion-label>Nome de Exibição</ion-label>
        <ion-input [(ngModel)]="nome" class="text-input" fill="outline" placeholder="Insira seu nome"></ion-input>
    </div>
    <div class="input-group section">
        <ion-label>Username</ion-label>
        <ion-input [(ngModel)]="username" class="text-input" type="username" fill="outline" placeholder="Insira seu username"></ion-input>
    </div>
    <div class="input-group section">
        <ion-label>Password</ion-label>
        <ion-input [(ngModel)]="password" class="text-input" type="password" fill="outline" placeholder="Insira sua password"></ion-input>
    </div>

    <ion-button expand="block" class="ion-margin-top" color="secondary" (click)="criarConta()">Criar conta</ion-button>
    <ion-button expand="block" fill="clear" routerLink="/">Já tenho conta</ion-button>
</ion-content>