// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
    --bg-color: #f4f1ea;
    --ion-text-color: #1a1919;

    --ion-color-primary: #8c5a47;
    --ion-color-secondary: #805d68;
    --ion-color-tertiary: #989794;
}