<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-title>
            <ion-icon name="people"></ion-icon>
            Amigos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

    @if (aCarregar) {
    <div class="ion-text-center" style="margin-top: 40px;">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
        <p style="color: #666;">A carregar...</p>
    </div>
    }

    @if (!aCarregar && amigosFiltrados.length === 0) {
    <div class="ion-text-center" style="margin-top: 40px; color: #6a5a62;">
        <ion-icon name="search-outline" style="font-size: 48px;"></ion-icon>
        <p>Nenhum amigo foi encontrado.</p>
    </div>
    }

    @if (!aCarregar) {
    <ion-list class="ion-no-padding">
        @for (amigo of amigosFiltrados; track amigo.id) {
        <ion-item size="6" class="ion-padding-tiny" [routerLink]="['/tabs/amigos/detalhe', amigo.id]">
            <div class="amigo-avatar" aria-hidden="true" slot="start">
                {{ amigo.nome.charAt(0) }}
            </div>

            <ion-label>
                <h3>{{ amigo.nome }}</h3>
                <p>{{ amigo.username }}</p>
            </ion-label>
        </ion-item>
        }
    </ion-list>
    }

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="botao-adicionar">
        <ion-fab-button id="abrir-adicionar-amigo" class="botao-roxo">
            <ion-icon class="icone-grande" name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="secao-filtros">
            <div class="secao-busca">
                <ion-searchbar placeholder="Procurar Amigos" (ionInput)="filtrarAmigos($event)"
                    class="barra-busca"></ion-searchbar>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>

<ion-modal trigger="adicionar-amigo" #modal>
    <ng-template>
        <ion-content class="ion-padding">
            <ion-title>Adicionar Amigo</ion-title>

            <div class="ion-margin-top">
                <div class="input-group section">
                    <ion-input [(ngModel)]="usernameInput" class="text-input" type="username" fill="outline" placeholder="Digita o @username"></ion-input>
                </div>

                <ion-grid class="botao-grelha">
                <ion-row>
                    <ion-col text-center>
                        <ion-button class="botao-roxo botao-texto ion-margin-top" expand="block" [disabled]="!usernameInput" (click)="adicionarAmigo()">
                            Adicionar
                        </ion-button>
                    </ion-col>
                    <ion-col text-center>
                        <ion-button class="botao-vermelho botao-texto ion-margin-top" expand="block" (click)="fecharModal()">
                            Cancelar
                        </ion-button>                
                    </ion-col>
                </ion-row>
            </ion-grid>
            </div>
        </ion-content>
    </ng-template>
</ion-modal>
