ion-list {
    background: transparent;
    padding: 12px;
}

ion-item {
    border-bottom: 1px solid var(--ion-color-tertiary);
    margin: 0;
    --inner-padding-end: 15px;
    --inner-padding-start: 15px;
    --padding-start: 0;
    --padding-end: 0;
    --background: transparent;
}

ion-label h3 {
    color: black;
    font-weight: bold;
    margin: 0;
    font-size: 1.1rem;
}

ion-label p {
    color: #333;
    margin-top: 4px;
    font-size: 0.9rem;

    &::before {
        content: "@";
    }
}