/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";


/* Cores do Protótipo Papelada */

ion-content {
    --background: var(--bg-color);
    /* Fundo bege */
}

ion-toolbar {
    
    /* Castanho dos cabeçalhos */
    --color: white;
    /* Texto branco nos cabeçalhos */
}

/* Texto */

ion-title {
    font-weight: bold;
    font-size: 24px;
}

/* Icones */

ion-title ion-icon {
    vertical-align: middle;
    margin-right: 8px;
}

/* Input */

.input-group ion-label {
    display: block;
    margin-bottom: 5px;
}

.text-input {
    background: none !important;
    --background: #ffffff;
    --border-radius: 12px !important;
    margin-bottom: 15px;
    --icon-color: var(--cor-secundaria);
}

.botao-roxo {
    --background: var(--ion-color-secondary);
    --border-radius: 12px;
}