/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

/* Cores do Protótipo Papelada */

ion-content {
    /* Fundo bege */
    --background: var(--bg-color);
}

ion-toolbar {
    /* Texto branco nos cabeçalhos */
    --color: white;
}

ion-header {
    border-bottom: 1px solid #5E4235 !important;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4) !important;
}

ion-footer ion-toolbar {
    --background: var(--bg-color);
    border-top: 1px solid var(--ion-color-tertiary);
}

ion-tab-bar {
    border-top: 1px solid #5E4235 !important;
}

/* Texto */

ion-title {
    font-weight: bold;
    font-size: 24px;
}

/* Icones */

ion-title ion-icon {
    vertical-align: middle;
    margin-right: 8px;
}

/* Input */

.input-group ion-label {
    display: block;
    margin-bottom: 5px;
}

.text-input {
    background: none !important;
    --background: #ffffff;
    --border-radius: 12px !important;
    --icon-color: var(--ion-color-secondary);
}

.botao-roxo {
    --background: var(--ion-color-secondary);
    --border-radius: 12px;
    margin: 0;
}

.botao-vermelho {
    --background: #E66756;
    --border-radius: 12px;
    margin: 0;
}

.secao-busca {
    padding: 12px;
    --background: var(--bg-color);

    display: flex !important; 
    justify-content: space-between;
    gap: 8px;
}

.barra-busca {
    background: none !important;
    padding: 0 !important;

    --background: none;
    --icon-color: var(--ion-color-primary);
    --clear-button-color: var(--ion-color-primary);
    --placeholder-color: var(--ion-color-primary);
    --placeholder-opacity: 1;
    --box-shadow: none;
    
    border: 1px solid var(--ion-color-primary);
    border-radius: 12px;
    flex: 1;
}

.secao-busca ion-button {
    width: 65px;
}

.secao-busca ion-button ion-icon {
    font-size: 30px;
}

/* Utilidades */

.section:not(:last-child) {
    margin-bottom: 15px;
}